{% extends 'book/books.html' %}
{% load static %}
{% block main%}
<section class="content">
<div class="container-fluid">
	{% include 'book/messages.html' %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">دسته‌بندی ها</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed">
						<thead>
							<tr>
								<th>ردیف</th>
								<th>دسته‌بندی ها</th>
								<th>زیر دسته</th>
								<th>عملیات</th>
							</tr>
						</thead>
						<tbody>
							{% for category in object_list %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ category.title }}</td>
								<td>{{ category.show_parent }}</td>
								<td><a href="{% url 'book:category_update' category.pk %}" class="badge badge-primary">ویرایش</a>
									<a href="{% url 'book:category_delete' category.pk %}" class="badge badge-danger">حذف</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</div>
</section>
{% endblock %}