{% load static %}
<section class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">کتب فیزیکی</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>ردیف</th>
                    <th>تصویر جلد</th>
                    <th>نام کتاب</th>
                    <th>نویسندگان</th>
                    <th>مترجمین</th>
                    <th>دسته‌بندی</th>
                    <th>ناشر</th>
                    <th>منبع کتاب</th>
                    <th>امتیاز</th>
                    <th>وضعیت</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>183</td>
                    <td></td>
                    <td>John Doe</td>
                    <td>11-7-2014</td>
                    <td></td>
                    <td>Bacon</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
    </div>
</div>
</section>