{% load static %}
{% load base_tags %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
<!-- Brand Logo -->
<a href="#" class="brand-link">
    <img src="{% static 'book/assets/img/AdminLTELogo.png' %}" alt="Mahi Goli Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
    <span class="brand-text font-weight-light">Mahi Goli</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{% static 'book/assets/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="#" class="d-block">Hamed Daneshvar</a>
    </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-header">بخش کتب</li>
        <li class="nav-item has-treeview {% active_book_item request 'menu-open' %}">
            <a href="{% url 'book:allbook' %}" class="nav-link {% active_book_item request 'active' %}">
              <i class="nav-icon fas fa-book"></i>
              <p>
                کتاب‌ها
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' %};">
                <li class="nav-item">
                    {% sidebar_item request 'allbook' "تمامی کتاب‌ها" "fas fa-book" %}
                </li>
                <li class="nav-item">
                    {% sidebar_item request 'physicalbook' "کتاب‌های فیزیکی" "fas fa-book-open" %}
                </li>
                <li class="nav-item">
                    {% sidebar_item request 'electronicbook' "کتاب‌های الکترونیکی" "fas fa-book" %}
                </li>
                <li class="nav-item">
                    {% sidebar_item request 'audiobook' "کتاب‌های صوتی" "fas fa-headphones-alt" %}
                </li>
            </ul>
        </li>
        <li class="nav-item">
            {% sidebar_item request 'category' "دسته‌بندی" "far fa-circle" %}
        </li>
        <li class="nav-item">
            {% sidebar_item request 'author' "نویسندگان" "far fa-circle" %}
        </li>
        <li class="nav-item">
            {% sidebar_item request 'translator' "مترجمین" "far fa-circle" %}
        </li>
        <li class="nav-item">
            {% sidebar_item request 'teller' "گویندگان" "far fa-circle" %}
        </li>
        <li class="nav-item">
            {% sidebar_item request 'publisher' "ناشرین" "far fa-circle" %}
        </li>
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>