{% load static %}
{% load base_tags %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
<!-- Brand Logo -->
<a href="#" class="brand-link">
    <img src="{% static 'book/assets/img/AdminLTELogo.png' %}" alt="Mahi Goli Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
    <span class="brand-text font-weight-light">Mahi Goli</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{% static 'book/assets/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        <a href="#" class="d-block">Hamed Daneshvar</a>
    </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-header">بخش کتب</li>
        <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'parent' %}">
            <a href="{% url 'book:allbook' %}" class="nav-link {% active_book_item request 'active' 'parent' %}">
              <i class="nav-icon fas fa-book"></i>
              <p>
                کتاب‌ها
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'parent' %};">
                <li class="nav-item">
                    {% sidebar_item request 'allbook' "تمامی کتاب‌ها" "fas fa-book" %}
                </li>
                <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'physicalbook' %}">
                    <a href="{% url 'book:physicalbook' %}" class="nav-link {% active_book_item request 'active' 'physicalbook' %}">
                      <i class="nav-icon fas fa-book-open"></i>
                      <p>
                        کتاب‌های فیزیکی
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'physicalbook' %};">
                        <li class="nav-item">
                            {% sidebar_item request 'physicalbook' "کتاب‌های فیزیکی" "fas fa-book-open" %}
                        </li>
                        <li class="nav-item">
                            {% sidebar_item request 'physicalbook_create' "افزودن کتاب‌ فیزیکی" "fas fa-book-open" %}
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'electronicbook' %}">
                    <a href="{% url 'book:electronicbook' %}" class="nav-link {% active_book_item request 'active' 'electronicbook' %}">
                      <i class="nav-icon fas fa-book"></i>
                      <p>
                        کتاب‌های الکترونیکی
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'electronicbook' %};">
                        <li class="nav-item">
                            {% sidebar_item request 'electronicbook' "کتاب‌های الکترونیکی" "fas fa-book" %}
                        </li>
                        <li class="nav-item">
                          {% sidebar_item request 'electronicbook_create' "افزودن کتاب‌ الکترونیکی" "fas fa-book" %}
                      </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'audiobook' %}">
                    <a href="{% url 'book:audiobook' %}" class="nav-link {% active_book_item request 'active' 'audiobook' %}">
                      <i class="nav-icon fas fa-headphones-alt"></i>
                      <p>
                        کتاب‌های صوتی
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'audiobook' %};">
                        <li class="nav-item">
                          	{% sidebar_item request 'audiobook' "کتاب‌های صوتی" "fas fa-headphones-alt" %}
                        </li>
                        <li class="nav-item">
                        	{% sidebar_item request 'audiobook_create' "افزودن کتاب صوتی" "fas fa-headphones-alt" %}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'category' %}">
            <a href="{% url 'book:category' %}" class="nav-link {% active_book_item request 'active' 'category' %}">
              <i class="nav-icon far fa-circle"></i>
              <p>
                دسته‌بندی
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'category' %};">
                <li class="nav-item">
                    {% sidebar_item request 'category' "دسته‌بندی" "far fa-circle" %}
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'author' %}">
            <a href="{% url 'book:author' %}" class="nav-link {% active_book_item request 'active' 'author' %}">
              <i class="nav-icon far fa-circle"></i>
              <p>
                نویسندگان
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'author' %};">
                <li class="nav-item">
                    {% sidebar_item request 'author' "نویسندگان" "far fa-circle" %}
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'translator' %}">
            <a href="{% url 'book:translator' %}" class="nav-link {% active_book_item request 'active' 'translator' %}">
              <i class="nav-icon far fa-circle"></i>
              <p>
                مترجمین
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'translator' %};">
                <li class="nav-item">
                    {% sidebar_item request 'translator' "مترجمین" "far fa-circle" %}
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'teller' %}">
            <a href="{% url 'book:teller' %}" class="nav-link {% active_book_item request 'active' 'teller' %}">
              <i class="nav-icon far fa-circle"></i>
              <p>
                گویندگان
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'teller' %};">
                <li class="nav-item">
                    {% sidebar_item request 'teller' "گویندگان" "far fa-circle" %}
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview {% active_book_item request 'menu-open' 'publisher' %}">
            <a href="{% url 'book:publisher' %}" class="nav-link {% active_book_item request 'active' 'publisher' %}">
              <i class="nav-icon far fa-circle"></i>
              <p>
                ناشرین
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: {% active_book_item request 'display' 'publisher' %};">
                <li class="nav-item">
                    {% sidebar_item request 'publisher' "ناشرین" "far fa-circle" %}
                </li>
            </ul>
        </li>
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>